*{
    font-family: 'Outfit';
    margin: auto;
    /*border: black solid;*/
}

header{
    font-size: 1.25rem;
    margin: 1rem;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header ul{
    margin-top: 1rem;
    height: 3rem;
    border-top: 2px solid#79766b;
    border-bottom: 2px solid #79766b;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 0px;
}

header li{
    list-style: none;
    text-decoration: none;
    color: black;
}

.center{
    text-align: center;
}

.date{
    border-top: 2px solid#7ABA96;
    border-bottom: 2px solid #7ABA96;
    text-align: center;
    font-size: medium;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

div.detalles{
    text-align: center;
    font-size: larger;
}

.sobremi{
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    background-color: white;
    width: 8rem;
    height: auto;
    float: left;
    margin-bottom: 1rem;
}

.pagination {
    margin: 1rem;
}
  
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}

.suscribete{
    background-color: lightgray;
}

.botonsub{
    background-color: lightgreen;
    margin-top: 1rem;
    font-size: 2rem;
}

.contenedorFlex {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 50%;
    flex-direction: row;
}

.divFlex {
    width: auto;
    height: auto;
    margin: 20px;
    margin-bottom: 10%;
    text-align: center;
    align-items: normal;
}

.columnaFlex{
    flex-direction: column;
}

.columnaFlex h2{
    margin: 0.75rem
}

a{
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:#7ABA96;
}

a:focus {
    text-decoration: none;
    color:#7ABA96;
}

a:hover, a:active{
    text-decoration: none;
    color:#7ABA96;
}

.centrarpag{
    text-align: center;
  }

.centrar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: black;
    font-size: 1.75rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color:white;
}

footer a:visited {
    text-decoration: none;
    color:white;
}

footer a:hover {
    text-decoration: none;
    color:#7ABA96;
}

footer a:focus {
    text-decoration: none;
    color:#7ABA96;
}

footer a:hover, a:active{
    text-decoration: none;
    color:#7ABA96;
}
